<footer class=''>
  <div
    class='fixed bottom-0 left-0 divide-y divide-green-300 w-full text-center bg-green-300 font-light text-white'
  >
    <p></p>
    <p class='pt-1 pb-1'>Created by Dana Lucaci</p>
  </div>
</footer>