<header>
  <p class='pt-6'></p>
  <a href='/'><h1
      class='border border-transparent text-center font-mono text-6xl tracking-tight shadow-l bg-green-600 bg-opacity-75 rounded-lg p-1 mb-16'
    >Competitive Math</h1></a>
</header>