<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Problema</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />
  </head>

  <body class="mb-10">
    {{>header this}}
    <div class="flex flex-col ml-40 mt-12 space-y-6">
      <!--Content div-->

      <div class="self-start bg-green-50 shadow-inner rounded-lg p-2">
        <!--Problem title-->
        <h1 class="font-extralight text-3xl text-green-900" id="problemTitle"></h1>
      </div>

      <div class="hidden self-start bg-green-50 shadow-inner rounded-lg p-4 space-y-6 w-5/6" id="problemDiv">
        <!--Problem div-->
        <div>
          <textarea class="p-4 font-light box-border w-full border border-transparent text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600" readonly id="problemDesc" rows="10"></textarea>
        </div>

        <div>
          <span class="p-0.5 border border-transparent text-white font-light rounded" id="problemCategory"></span>
          <span class="p-0.5 border border-transparent text-white font-light rounded" id="problemDifficulty"></span>
          {{#if loggedIn}}
          <span class="float-right"><button class="text-white px-2 rounded bg-green-500 hover:bg-green-600 focus:ring-green-600 focus:outline-none focus:ring-2 focus:ring-opacity-50" id="problemButton"></button></span>{{/if}}
        </div>
        <div>
          <p class="font-medium text-lg text-green-800" id="solutionGrade"></p>
          <p class="font-medium text-lg text-green-800" id="solutionComment"></p>
          <a class="font-medium text-lg text-green-800 hover:text-green-400" href="" id="gradedBy"></a>
        </div>
      </div>

      <div class="hidden self-start w-5/6 bg-green-50 shadow-inner rounded-lg p-4 space-y-4" id="solutionDiv">
        <!--Solution div-->
        <div>
          <h1 class="font-extralight text-3xl text-green-900">Solutia mea</h1>
          <!--Solution header-->
        </div>
        <div class="flex p-2 bg-white rounded-lg shadow">
          <!--Description div-->
          <textarea readonly class="font-light border border-transparent text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600" id="solutionDescription" cols="137" rows="10"></textarea>
        </div>
        <div class="hidden flex flex-row overflow-x-auto" id="solutionImagesDiv">
          <!--Solution images-->
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img1" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img2" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img3" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img4" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img5" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img6" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img7" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img8" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img9" />
          <img class="hidden max-w-full max-y-full object-contain hover:opacity-75" src="" alt="" id="img10" />
        </div>
      </div>
    </div>

    <div class="hidden fixed top-0 w-full h-full bg-gray-100 bg-opacity-50" id="modalBackground"></div>
    <!--Modal background-->

    <div class="hidden fixed top-0 overflow-auto flex h-full w-full bg-gray-400 bg-opacity-75" id="enlargedPhoto">
      <!-- Zoom into photo -->
      <img class="m-auto max-w-full max-y-full duration-500 transition" src="" alt="" id="img11" />
    </div>

    <div class="hidden fixed inset-y-1/3 inset-x-1/3 flex flex-col" id="addSolutionForm">
      <!--Add solution modal form-->
      <div class="self-start bg-green-50 rounded-lg ring-2 ring-green-200 shadow-inner p-2 space-y-2">
        <div>
          <h1 class="font-extralight text-3xl text-green-900">Adauga solutie</h1>
        </div>

        <div>
          <form action="" method="POST" id="addSolutionAction" enctype="multipart/form-data">
            <textarea class="border border-transparent text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600" cols="100" rows="10" name="solution" required></textarea>
            Adauga imagini (1mb maxim per poza): <input type="file" name="files" accept="image/*" multiple />
            <p class="inline font-light text-red-500" id="addFileError"></p>
            <button class="mt-2 float-right text-white px-2 rounded bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50" type="submit">Adauga solutia</button>
          </form>
        </div>
      </div>
    </div>

    <div class="hidden fixed inset-y-1/4 inset-x-1/4 flex flex-col" id="modifySolutionForm">
      <!--Modify solution modal form-->
      <div class="self-start bg-green-50 rounded-lg ring-2 ring-green-200 shadow-inner p-2 space-y-2">
        <div>
          <h1 class="font-extralight text-3xl text-green-900">Modifica solutia</h1>
        </div>

        <div>
          <form action="" method="POST" id="modifySolutionAction" enctype="multipart/form-data">
            <textarea class="border border-transparent text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600" cols="100" rows="10" name="solution" required></textarea>
            <div>Adauga imagini (1mb maxim per poza): <input type="file" name="files" accept="image/*" multiple /></div>
            <p class="inline font-light text-red-500" id="modFileError"></p>
            <button class="mt-2 float-right text-white px-2 rounded bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50" type="submit">Modifica solutia</button>
          </form>
        </div>
      </div>
    </div>

    <div class="hidden fixed inset-y-1/4 inset-x-1/4 flex flex-row" id="gradeSolutionForm">
      <div class="flex flex-col w-full bg-green-50 rounded-lg ring-2 ring-green-200 shadow-inner p-2">
        <div class="flex mb-4">
          <h2 class="font-extralight text-2xl text-green-900">Noteaza solutia</h2>
        </div>
        <div class="flex w-full h-full space-x-4">
          <p>Comentariu:</p>
          <textarea class="w-full h-full border-box" id="gradeComment" placeholder="Adauga un comentariu"></textarea>
        </div>
        <div>
          <label>Nota: <input type="number" id="gradeNumber" min="1" max="10" /></label>
        </div>
        <div class="mt-2">
          <button class="text-white px-2 rounded bg-green-500 hover:bg-green-600 focus:ring-green-600 focus:outline-none focus:ring-2 focus:ring-opacity-50" id="submitGrade">Adauga</button>
          <p class="ml-8 inline" id="gradeError"></p>
        </div>
      </div>
    </div>

    {{>footer}}
    <script src="/js/problem.js"></script>
  </body>
</html>
