<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <link rel="icon" href="/img/icon.png">
   </head>
   <body class="mb-5">
      <div class="hidden fixed top-0 left-0 w-full h-full bg-gray-100 bg-opacity-75" id="modalBg">
         <!--Modal bg -->
      </div>
      <div class="hidden flex flex-col justify-center items-center absolute inset-1/4" id="modalForm">
         <!--Modal form-->
         <div class="object-contain bg-green-50 shadow rounded-lg space-y-4 p-4">
            <div>
               <!--Edit user-->
               <h1 class="font-extralight text-3xl text-green-900">Edit user</h1>
            </div>
            <div>
               <!--Profile Image-->
               <img class="rounded-lg" src="" id="userPhoto">
            </div>
            <div class="self-center">
               <input class="hidden" type="file" name="avatar" accept="image/*" id="uploadPhotoSelector">
               <button class="inline font-light text-green-900 hover:text-green-500" id="uploadPhotoButton">Upload profile photo <img class="inline" src="/img/photo.png"></button>
            </div>
            <form class="flex flex-col justify-items-start space-y-4" action="" method="POST" enctype="multipart/form-data">
               <div>
                  <label class="text-green-800 font-light text-xl">Change your email adress:
                  <input class="ml-5 text-lg border border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600 focus:placeholder-opacity-25 placeholder-green-500 placeholder-opacity-75"
                     type="email" name="email" id="modifyEmail" placeholder="modify your email">
                  </label>
               </div>
               <div>
                  <label class="text-green-800 font-light text-xl">Change your password:
                  <input class="ml-5 text-lg border border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600 focus:placeholder-opacity-25 placeholder-green-500 placeholder-opacity-75"
                     type="password" name="password" id="modifyPassword" placeholder="modify your password">
                  </label>
               </div>
               <div>
                  <label class="text-green-800 font-light text-xl">Confirm your password:
                  <input class="ml-5 text-lg border border-transparent rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600 focus:placeholder-opacity-25 placeholder-green-500 placeholder-opacity-75"
                     type="password" name="" id="modifyPasswordConfirm" placeholder="confirm your password">
                  </label>
               </div>
               <div class="self-center pb-4">
                  <button class="text-white px-2 rounded bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50"
                     >submit</button>
                  <button class="text-white px-2 rounded bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50"
                     id="cancelForm">cancel</button>
               </div>
            </form>
         </div>
      </div>
      {{>header this}}
      <div class="flex flex-row m-12 space-x-8">
         <!--Page body, page is divided into 3 parts, each expanding vertically-->
         <div class="flex flex-col space-y-4 p-4 bg-green-50 shadow-inner rounded-lg">
            <!--Profile avatar, info, and edit button-->
            <div>
               <!--Profile name-->
               <h1 class="font-extralight text-3xl text-green-900 text-center" id="userName">User Name</h1>
            </div>
            <div>
               <!--Profile Image-->
               <img class="rounded-lg" src="" id="userPhoto2">
            </div>
            <div class="font-light text-xl text-green-900">
               <!--User info, edit button-->
               <p id="userEmail">example@mail.com</p>
               <p><a href="/users/me/solutions" id="completedProblems">Completed Problems:</a></p>
               <p><a href="" id="Ranking">Ranking Pos:</a></p>
               <button class="font-light text-lg text-green-900 hover:text-green-500" id="editUser">Edit user<img class="inline" width="15" src="/img/edit.png"></button>
            </div>
         </div>
         <div class="flex flex-col flex-grow space-y-4 p-4 bg-green-50 shadow-inner rounded-lg">
            <!--Newest problems feed-->
            <div class="font-extralight text-3xl text-green-900 text-center">
               <p>Newest Problems</p>
            </div>
            <div class="mt-6 p-2 bg-white rounded-lg shadow" id="problem1">
               <!--Structure of a problem entry-->
               <a href="" class="font-light text-lg text-green-800 hover:text-green-500" id="link1"></a>
               <span class="float-right space-x-1">
                  <!--Example of float in div, inline items with span, spacing within child elems-->
                  <span class="p-0.5 border border-transparent text-white font-light rounded" id="category1"></span>
                  <span class="p-0.5 border border-transparent text-white font-light rounded" id="difficulty1"></span>
               </span>
               <p class="font-light truncate" id="short1">Short desc</p>
            </div>
         </div>
         <div>
            <!--Students and solutions divs-->
            <div class="hidden">
               <!--Student list-->
            </div>
            <div class="hidden">
               <!--Solution list-->
            </div>
         </div>
      </div>
      {{>footer}}
      <script src="/js/profile.js"></script>
   </body>